// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

video{
  margin: 0 auto;
  position: relative;
}

// .SERVE{
//   margin-left: -50%;
// }

.BIG{
  margin-left: -.0000025%;
}

.LOGOUT{
  margin-top: -50%;
  position: fixed;
  text-align: center;
}

img{
  position: fixed;
  margin-top:-250px;
  padding: 0px;
}

button{
  margin: 10px;
}

h3{
  font-family: 'Lato', sans-serif;
}

.FORMITEMS{
  width: 50%;
  display: inline-block;
}

h5{
  font-family: 'Lato', sans-serif;
}

body{
  font-family: 'Lato', sans-serif;
}
.name{
  font-family: 'Lato', sans-serif;
  font-size:40px;
}

.name2{
  font-family: 'Lato', sans-serif;
  font-size:30px;
}
h2 {
  font-family: 'Lato', sans-serif;
}
.fillWidth{
      background:
    linear-gradient(
      rgba(0,0,0, .2),
      rgba(0, 0, 0, .2)
    );
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
