<!DOCTYPE html>
<html>
<head>
  <title>MyMealPLanner</title>
   <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
<div class="homepage-hero-module">
    <div class="video-container">
       <%= video_tag("Fruity.mp4", class:"fillWidth", :autoplay => true, :loop => true)  %>
    </div>
<div class="container">
  <div class="row">
    <div class="col s2">
    </div>
  <div class="col s8">
    <h1 class="welcomeh1">MyMealPlanner</h1>
    <%= link_to image_tag("button.png"), '/auth/underarmour', :target => "_blank" %>
  </div>
    <div class="col s2">
    </div>
  </div>
</div>

</body>
</html>



