// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video{
  margin-top: -10px;
  position: relative;
  height:600px;
}

.BIG{
  margin-left: -.0000025%;
}

.LOGOUT{
  margin-top: -50%;
  position: fixed;
  text-align: center;
}

img{
  position: fixed;
  margin-top:-200px;
  padding: 0px;
}

.welcomeh1{
  position:fixed;
  margin-top:-300px;
  margin-left:65px;
  font-family: 'Bitter', serif;
}

.OUT{
  margin-top: 200px;
  font-family: 'Bitter', serif;
}

button{
  margin: 10px;
}

h3{
  font-family: 'Lato', sans-serif;
}

.FORMITEMS{
  width: 50%;
  display: inline-block;
}

h5{
  font-family: 'Lato', sans-serif;
}

body{
  font-family: 'Lato', sans-serif;
}
.name{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.name2{
  font-family: 'Lato', sans-serif;
  font-size:15px;
}
h2 {
  font-family: 'Lato', sans-serif;
}
