<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<div class="homepage-hero-module">
    <div class="video-container">
       <%= video_tag("Marfrum.mp4", class:"fillWidth", :autoplay => true, :loop => true)  %>
    </div>
</div>

</body>
</html>



